body{

    background-color:#e6e6ff;
    margin: auto;
}


.header{
    text-align: center;
    font-family: sans-serif;
    color:rgb(0, 0, 0);
}
.form{
    position: relative;
  
  

     width: 50%;
     height: 600px;
     margin: 4% auto;

     border-color:#78789c;
}

h3{
   display: inline-block;
  text-align: center;
    
}


.inputbox{

    width: 90%;
    height: 25px;
    border-width:0.5px;
   
    margin:0;
    border: none;

   
}

.icon{
    
    border: solid;
    border-width: thin;
    width: 8%;
    float: left;
    text-align: center;
    padding-top: 4px;
    background-color: #e6e6ff;
    border-color: #e1e1d0;
    border-top-righr-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;
    border-top: none;
    border-bottom: none;
   
}


 .part-2{
     display: inline-block;
     border: solid;
     width: 48%;
     padding: 0;
     border-width: thin;
     border-radius: 3px;
     position: relative;
    left: 15;
     border-color: #e1e1d0;
    }

 .part-1{
        position: relative;
        left: 0;
        padding-left: 5px;
        
    }

 .label-box{
        display: inline-block;
        width: 50%;
    }
                

  .footer{
      text-align: center;
  }

    .submit-btn{

    
        font-size: large;
        border-width: medium;
        border-radius: 5px;
        margin-top:5% ;
        margin-right: 5%;
        background-color:#e6e6ff;
      
      
      }
      
      .submit-btn:hover{
      
          color:  grey;
      
      }


      @media (max-width:1054px){

        .inputbox{

            width: 87%;
            height: 25px;
            border-width:0.5px;
           
            margin:0;
            border: none;
        
           
        }

        .form{
           
        
             width: 80%;
             height: 600px;
             margin: 9% auto;
        }
        
      }